@font-face {
  font-family: "Rightgrotesktext webfont";
  src: url("../fonts/rightgrotesktext-compactmedium-webfont.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rightgrotesktext webfont";
  src: url("../fonts/rightgrotesktext-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rightgrotesktext webfont";
  src: url("../fonts/rightgrotesktext-spatiallight-webfont.woff2")
    format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rightgrotesktext webfont";
  src: url("../fonts/rightgrotesktext-widebold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuemontreal webfont";
  src: url("../fonts/neuemontreal-bold-webfont.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuemontreal webfont";
  src: url("../fonts/neuemontreal-regular-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuemontreal webfont";
  src: url("../fonts/neuemontreal-italic-webfont.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Neuemontreal webfont";
  src: url("../fonts/neuemontreal-light-webfont.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Neuemontreal webfont";
  src: url("../fonts/neuemontreal-medium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Rightgrotesk webfont";
  src: url("../fonts/rightgrotesk-tightmedium-webfont.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
